{
	"DEFAULT_LOGGER": "default",
	"logger": 
	{
		"default": 
		{
			"logLevel": "TRACE",
			"filters": 
			[
				"ERROR_FORMAT",
				{
					"name": "TOKEN_FORMAT",
					"format": "${msg.stack.1}:${msg.level} - ${msg}"
				},

				"LOG_MANAGER_WRITER"
			],

			"doc": "catch all group"
		},
 
		"psc.queue.QueueProcessor": 
		{
			"logLevel": "TRACE",
			"filters": 
			[
				"ABL_SUBSTITUTE_FORMAT",
				"ERROR_FORMAT",
				{
					"name": "TOKEN_FORMAT",
					"format": "${msg.logger}:${msg.level} A${req.agent} S${req.session} - ${msg}"
				},

				"LOG_MANAGER_WRITER"
			]
		},

		"OpenEdge": 
		{
			"logLevel": "INFO",
			"filters": 
			[
				"ERROR_FORMAT",
				{
					"name": "TOKEN_FORMAT",
					"format": "${msg.grp} ${msg.stack.1} ${msg.level}: ${msg}"
				},

				"LOG_MANAGER_WRITER"
			],

			"doc": "applies to OpenEdge/**/*.[p|cls]"
		}
	}
}